PORT=3001
GOOGLE_DRIVE_FOLDER_ID=11eKnIloJ0iHeX-wNvrPav2mEWzMXSmF4

# OAuth2 Credentials
GOOGLE_CLIENT_ID=294450752825-2726i7jlfvr1derlfs0sb0luc745n6hg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=
